= f.label :password, class: 'label block mb-2 mt-6'
= f.password_field :password, autocomplete: "new-password", class: 'input block w-full'

= f.label :password_confirmation, class: 'label block mb-2 mt-6'
= f.password_field :password_confirmation, autocomplete: "new-password", class: 'input block w-full'