.columns-1.px-5.xl:px-40
  %h1.text-4xl.mt-5.text-green
    %span.text-purple Hello |
    There!
  %h2.text-2xl.m-3.text-yellow
    %span.text-purple I'm |
    George Gavrilchik
  %h3.text-xl.m-6.text-light-blue Welcome to my personal corner of the internet
  %p.m-6.text-dark-green.bg-sharp
    This site is just a fun little project I built to play around with web development. It's simple, but it works!
    Here, you'll find a URL shortener that turns long links into short ones. Try it out and see how it works!
    There's also a feedback form where you can drop me a message. Feel free to say hi or share your thoughts!
    This site is built with Ruby on Rails and styled with Tailwind CSS. It's not fancy, but it's mine, and I had a lot of fun making it.
    So, stick around, click some links, and enjoy the simplicity. Who knows? I might add more cool stuff here in the future!

  %p.m-6.text-dark-green.bg-sharp
    Check out the code for this project on
    %a.text-blue{ href: "https://github.com/Gavrilajava/portfolio", target: "_blank" }
      GitHub.

  %h2.text-2xl.m-3.text-purple More to come!
  %h2.text-2xl.text-purple Enjoy!