.columns-1.px-5
  %h1.text-4xl.mt-5.text-green
    %span.text-purple Hello |
    There!
  %h2.text-2xl.m-3.text-yellow 
    %span.text-purple I'm |
    George Gavrilchik
  %h3.text-xl.m-6.text-light-blue Welcome to my personal corner of the internet
  %p.m-6.text-dark-green This site is a work in progress, much like a canvas that gets more detailed with every stroke. As a Full Stack developer, the irony of not having my own website was not lost on me. It's a bit like a novelist without a notebook.
  %p.m-6.text-dark-green So, I've embarked on this journey to create a space that not only showcases my skills but also serves as a testing ground for ideas I can't always explore in my professional work. Expect to see experiments with new frameworks, libraries and innovative designs, like a responsive navbar crafted without a single line of JavaScript.
  %p.m-6.text-dark-green In essence, I have a penchant for perfection, yet I also believe in a step-by-step approach. What you see here is the fruition of the first step. While it might not look overwhelmingly impressive, remember that a journey of a thousand miles begins with a single step, or as it's said, 'one small step for man'... but no, that might not be quite fitting here.
  %p.m-6.text-dark-green="So, what's been accomplished so far? I've developed a modest application using Ruby on Rails with Tailwind as the CSS framework. Of course, it's all available on #{link_to('GitHub', 'https://github.com/Gavrilajava/portfolio', class: 'text-light-blue')}. The application is deployed in the AWS cloud, utilizing Docker and Elastic Container Service, Amazon's answer to Kubernetes. Deploy process has been automated, domain registered, CDN set up and certificates installed."
  %p.m-6.text-dark-green My immediate plans include making the site more interactive and adding a small application to synchronize shopping lists. Stay tuned for updates!"