.columns-1.px-5
  %h1.text-4xl.mt-5.text-green
    %span.text-purple Hello |
    There!
  %h2.text-2xl.m-3.text-yellow 
    %span.text-purple I'm |
    George Gavrilchik
  %h3.text-xl.m-6.text-light-blue a Software Developer with a Love for the Web
  %p.m-6.text-dark-green Welcome to my personal corner on the internet. It always seemed a bit odd to me, making websites for others but not having one of my own. So, here it is - my very own digital space.
  %p.m-6.text-dark-green This site is more than just a showcase of my skills. It's a place where I experiment with ideas that are too fresh and raw for my regular work. It's a work in progress, constantly evolving and improving, just like my journey in software development.
  %p.m-6.text-dark-green Feel free to look around, see what I've been up to, and enjoy the unique blend of professional and personal projects. If you're interested in creating something great together, I'm just a message away.