.columns-1.px-5.xl:px-40
  %h1.text-4xl.mt-5.text-green
    %span.text-purple Hello |
    There!
  %h2.text-2xl.m-3.text-yellow
    %span.text-purple I'm |
    George Gavrilchik
  %h3.text-xl.m-6.text-light-blue Welcome to my personal corner of the internet
  %p.m-6.text-dark-green.bg-sharp This site is a work in progress, much like a canvas that gets more detailed with every stroke. As a Full Stack developer, the irony of not having my own website was not lost on me. It's a bit like a novelist without a notebook.
  %p.m-6.text-dark-green.bg-sharp So, I've embarked on this journey to create a space that not only showcases my skills but also serves as a testing ground for ideas I can't always explore in my professional work. Expect to see experiments with new frameworks, libraries and innovative designs, like a responsive navbar crafted without a single line of JavaScript.
  %p.m-6.text-dark-green.bg-sharp In essence, I have a penchant for perfection, yet I also believe in a step-by-step approach. What you see here is the fruition of the first steps. While it might not look overwhelmingly impressive, remember that a journey of a thousand miles begins with a single step, or as it's said.
  %p.m-6.text-dark-green.bg-sharp="So, what has been accomplished so far, besides the hilarious design? I've developed a modest application using Ruby on Rails with Tailwind as the CSS framework. Of course, it's all available on #{link_to('GitHub', 'https://github.com/Gavrilajava/portfolio', class: 'text-light-blue')}. The application is deployed in the AWS cloud, utilizing Docker and Elastic Container Service, Amazon's answer to Kubernetes. Deploy process has been automated, domain registered, cdn set up and certificates installed."
  %p.m-6.text-dark-green.bg-sharp="I have also added a url shortener that can shorten wthe long url into 5-6 charachters and redirect you to thee long one if you type short one in browser. More details #{link_to('here', '/urls', class: 'text-light-blue')}."
  %p.m-6.text-dark-green.bg-sharp So, while this site may still be a bit rough around the edges, it's a testament to the journey of learning and growing. Stick around, and you might just witness this canvas transform into a masterpiece, or at least something that makes you chuckle and nod in appreciation. After all, in the world of web development, as in life, it's all about enjoying the process, one quirky line of code at a time.

  %h2.text-2xl.m-3.text-purple More to come!
  %h2.text-2xl.text-purple Enjoy!