.columns-1.px-5
  %h1.text-4xl.mt-5.text-green Here will be the contacts form!
  %h2.text-2xl.mt-3.text-yellow  Very soon, I promise
  %p.mt-2.text-light-blue When I done the other parts of the site, I will place a contact form here, so you can contact me.
