@import "tailwindcss/base";
@import "tailwindcss/components";
@import "./navbar.tailwind.css";
@import "./form.tailwind.css";
@import "tailwindcss/utilities";



@layer components {

  .leading-12 {
    line-height: 3rem;
  }

  .circle {
    border-radius: 50%;
  }

  .border-t-3 {
    border-top-width: 3px
  }

  button.close {
    @apply bg-close absolute top-1 right-1 w-3 h-3 p-3 text-red opacity-50 transition-all
  }

  button.close:hover {
    @apply opacity-100 scale-125 
  }
  
}