@layer components {

  nav.main{
    @apply bg-body sm:bg-grey px-2 sm:px-20 relative flex justify-center sm:justify-start !important
  }

  .navlink {
    @apply z-10 no-underline text-center text-white font-light w-32 rounded-lg h-12 leading-12
  
  }

  .nav-animation {
    @apply absolute top-0 h-full w-32 z-0 rounded-lg transition-all duration-500
  }

  #nav-mobile .navlink:nth-of-type(1):hover,
  #nav-mobile .navlink.active:nth-of-type(1),
  nav .start-1,
  a:nth-child(1):hover~.nav-animation  {
    @apply bg-green
  }
  
  #nav-mobile .navlink:nth-of-type(2):hover,
  #nav-mobile .navlink.active:nth-of-type(2),
  nav .start-2,
  a:nth-child(2):hover~.nav-animation {
    @apply bg-purple
  }
  
  #nav-mobile .navlink:nth-of-type(3):hover,
  #nav-mobile .navlink.active:nth-of-type(3),
  nav .start-3,
  a:nth-child(3):hover~.nav-animation {
    @apply bg-blue
  }

  #nav-mobile-switch {
    @apply block sticky bg-brown w-24 h-24 cursor-pointer circle transition-all duration-500 z-10 -ml-12 -mt-24 sm:hidden 
  }

  #nav-mobile-switch:checked {
    @apply -rotate-90
  }
  
  #nav-mobile-switch:checked, #nav-mobile-switch:hover, #nav-mobile-switch:focus {
    @apply bg-none bg-brown !important
  }
}

#nav-mobile-switch:before {
  content: '\2630';
  color: white;
  font-size: 2rem;
  left: 3.25rem;
  position: absolute;
  top: 2.5rem;
}

#nav-mobile-switch:after {
  color: white;
  content: "\2715";
  font-size: 1.5rem;
  position: absolute;
  top: 3rem;
  left: 1.25rem;
}

nav .start-1,
a:nth-child(1):hover~.nav-animation {
  left: 10rem;
}

nav .start-2,
a:nth-child(2):hover~.nav-animation {
  left: 19rem;
}

nav .start-3,
a:nth-child(3):hover~.nav-animation {
  left: 28rem;
}


#nav-mobile .navlink:nth-of-type(2) {
  animation-delay: .1s;
}

#nav-mobile .navlink:nth-of-type(3) {
  animation-delay: .2s;
}

#user-menu-button:not(:focus-within) ~ #navbar-user {
  visibility: hidden;
}

#navbar-user:hover, #user-menu-button:hover ~ #navbar-user {
  visibility: visible !important;

}

@media screen(sm) {
  #user-menu-button:hover ~ #navbar-user {
    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center
  }

  @keyframes growDown {
    0% {
        transform: scaleY(0)
    }
    80% {
        transform: scaleY(1.1)
    }
    100% {
        transform: scaleY(1)
    }
  }
}

@media (max-width: 640px){
  #user-menu-button:hover ~ #navbar-user {
    animation: growLeft 300ms ease-in-out forwards;
    transform-origin: top right
  }
  
  @keyframes growLeft {
    0% {
        transform: scaleX(0)
    }
    80% {
        transform: scaleX(1.1)
    }
    100% {
        transform: scaleX(1)
    }
  }
  
}









#nav-mobile-switch:checked ~ .page-body {
  transform: rotate(-30deg);
}

#nav-mobile-switch:not(:checked) ~ #nav-mobile {
  display: none;
}

@media screen(sm) {
  #nav-mobile-switch:checked ~ .page-body {
    transform: none;
  }
  #nav-mobile  {
    display: none;
  }
}

