%nav.main
  .flex.items-center.sm:ms-10
    %img.h-8.w-auto.my-2{src: asset_path('logo.png'), alt: "George Gavrilchik personal website logo"}
  .hidden.sm:flex.ml-6.space-x-4
    -current_index = navbar_links.keys.find_index(controller_name.to_sym) || 0
    -navbar_links.each_with_index do |(title, href), index|
      =link_to title.to_s.upcase, href, class: 'navlink inline-block h-100'
      -content_for :mobile_nav do
        =link_to title.to_s.upcase, href, class: "navlink block animate-slide -translate-x-full #{index == current_index ? 'active' : ''}"
    .nav-animation{class: "start-#{current_index + 1}"}
  -if current_user
    .flex.ml-auto
      =form_for current_user, url: destroy_user_session_path, method: :delete do |f|
        =f.submit I18n.t(:sign_out, scope: [:devise, :sessions])

%input#nav-mobile-switch{type: :checkbox}


